// COLOURS
$color-primary-light: #eaeaea;
$color-primary-dark: #424242;

$color-black: #000;
$color-white: #fff;

// FONT
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem; /* 16px, used across the website */
