/***** MEDIA QUERY MANAGER *****/
/*
[0 - 600px          Mobile phone - this is where our default styles apply]
600 - 900px         Tablet portrait
900 - 1200px        Tablet landscape
1200 - 1800px       Desktop computer
1800px +            Big desktop computer

$breakpoint argument choices:
- tablet-portrait
- tablet-landscape
- desktop
- desktop-big

1 em = 16px

min-width = minimum width at which a media query starts to apply
max-width = the maximum width at which a media query still applies

ORDER:
base & typography > general layout & grid > page layout > components
*/
/* 16px, used across the website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  /* root font size set in the html selector */
  /* 10px because 1rem  = 10px */
  font-size: 62.5%;
  /* root font size of 10px / default font size of 16px */ }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 64em) {
    html {
      font-size: 60%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

.body {
  text-align: center;
  padding: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
  color: #424242; }

*,
*::after,
*::before {
  /* includes all after and before pseudo-elements */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* forces inheritance */ }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem; }

.u-text-center {
  text-align: center; }

.u-text-italic {
  font-style: italic; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.heading-main {
  font-size: 3.5rem;
  text-decoration: underline; }

.image {
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 1s; }
  .image:hover {
    opacity: .8; }
