<p  class="u-margin-bottom-big">If this page displays correctly with an image and visual styles, then you're all set up and ready to go! :)</p>

<img src="/images/tree.jpg" class="image u-margin-bottom-medium" alt="A tree" />

<p>
    Would you like to know more?
    Click <a href="/about">HERE</a>.
</p>
