<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Page Title -->
        <title><%= pageTitle %> | Your Great App</title>

        <!-- Icons -->
        <link href="/css/css/all.css" rel="stylesheet"> <!--load all styles -->

        <!-- Fonts -->

        <!-- CSS stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body class="body">
        <header>
            <!-- <%- include("includes/navigation") %> -->
        </header>

        <main>
            <h1 class="heading-main u-margin-bottom-big">Welcome to the App!</h1>

            <%- include(content) %>
        </main>
    </body>
</html>

<!-- Scripts -->
<script src=""></script>
